{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    {% comment %} <script src="https://unpkg.com/axios/dist/axios.min.js"></script> {% endcomment %}
    
    
    <title>Bee Healthy</title>
    
  </head>
  
  
  <body>

  
    <div id="app">
      
      <div>
        {% comment %} <h1>[[ message ]]</h1> {% endcomment %}

      </div>
      
      <div id='log_info'>
        <br />
          {% if user.is_authenticated %}


            {% comment %} <a href="{% url 'BeeHealthyApp:create' %}">new post</a> {% endcomment %}
            <a href="{% url 'logout' %}">Logout</a><br />
            <a href="{% url 'BeeHealthyApp:profile' %}">Profile</a>
            <br /><br />
            <div>
              <input @keyup.enter="calorieCalculator()" v-model="userCalories" placeholder="calories eaten">
              <button @click="calorieCalculator()" >submit</button>  
              <br />
                
              <div>Remaining calories   [[ totalCalories ]]</div>

            </div>
            {% comment %} <div>
              <input @keyup.enter="getCalories()" v-model="foodItem" placeholder="food item">
              <button @click="getCalories()" >submit</button>
            </div> {% endcomment %}
            
          {% else%}
            <div id='log_info'>
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'users:signup' %}">Register</a>
            
            </div>
          {% endif %}
        </div>

      
      
      
      
      
      
      
    </div>

    
    {% block content %}
    {% endblock %}

    
    <script src="{% static 'javascript/main.js' %}"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
    
  </body>

</html>
    
