{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    {% comment %} <script src="https://unpkg.com/axios/dist/axios.min.js"></script> {% endcomment %}
    
    
    <title>Bee Healthy</title>
    
  </head>
  
  
  <body>

  
    <div id="app">
      
      <div>
        {% comment %} <h1>[[ message ]]</h1> {% endcomment %}

      </div>
      
      <div id='log_info'>
        <br />
          {% if user.is_authenticated %}


            {% comment %} <a href="{% url 'BeeHealthyApp:create' %}">new post</a> {% endcomment %}
            <a href="{% url 'logout' %}">Logout</a><br />
            <a href="{% url 'BeeHealthyApp:profile' %}" >Profile</a>
            <br /><br />
            <div>
              <input @keyup.enter="calorieCalculator()" v-model="userCalories" placeholder="calories eaten">
              <button @click="calorieCalculator()" >submit</button>  
              
              
              </br></br>

              <p>user: {{ user }}</p>
              <p>user: {{ user.dailyCalories }}</p>
              <p>user: {{ user.email }}</p>

              <a href="{% url 'users:updateProfile' user.pk %}">Update</a>
              
              {{ object_list.Calories }}

              {% for item in object_list %}
              {{ item.Calories }}
              {% endfor %}
 
              {% comment %} <h1>Edit Calories</h1>
              <form action="" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Update">
              </form> {% endcomment %}



              <br />
                
              <div>Remaining calories   [[ dailyCalories ]]</div>
              <div></div>
              {% comment %} <div>
              </div> {% endcomment %}
            </div>


            {% comment %} <div>
              <button @click="getCalories()" >submit</button>
            </div> {% endcomment %}

            
          {% else%}
            <div id='log_info'>
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'users:signup' %}">Register</a>
            
            </div>
          {% endif %}
        </div>

      
      
      
      
      
      
      
    </div>

    
    {% block content %}
    {% endblock %}

    
    <script src="{% static 'javascript/main.js' %}"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
    
  </body>

</html>
    
