

{% extends "base.html" %}
{% block content %}

    <div id='setup'>
        <h1>Setup</h1>
        {% if user.is_authenticated %}    

            
    </br>

        <form action="{% url 'BeeHealthyApp:calories' %}" method="POST">
            <!-- include CSRF token for security -->
            {% csrf_token %}

            <input type='text' placeholder='calories' name='calories'>


            {% comment %} 
            <input type='text' placeholder='title' name='height'>
            <input type='text' placeholder='created' name='weight'>
            <input type='text' placeholder='body' name='age' >
            {% endcomment %}
        
            <button type="submit">Submit</button>
        </form>
    </br>

    
        {% endif %}
        <a id='profile-back' href="{% url 'BeeHealthyApp:home' %}">Back</a>
    </div>

{%endblock%}